* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  font-family: 'Kanit', sans-serif;
  background-color: rgb(14, 13, 13);
  overflow-x: hidden;
}

/* header =============================== */

header {
  width: 100vw;
  height: 100vh;
}

h1 {
  position: relative;
  top: 2rem;
  right: 3rem;
  font-family: 'Righteous', cursive;
  font-size: 3.8rem;
  letter-spacing: 3px;
  color: rgba(199, 196, 196, 0.7);
  text-shadow: 0 0 15px #000;
}

#header-video {
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}


/* nav ================================== */

nav {
  position: fixed;
  z-index: 1;
  top: 0;

}

nav ul {
  margin-top: 2rem;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: inline-block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: 0.5s;
}

.nav-icons {
  width: 2.5rem;
}

.nav-icons:hover {
  width: 3.2rem;
}

#scroll-down {
  position: relative;
  bottom: -10rem;
  left: 0;
}

/* content ========================== */

main {
  padding-left: 4.5rem;
  overflow-x: hidden;
}

h2 {
  text-align: center;
  margin-bottom: 1rem;
}

main section {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  /* align-items: center; */
  transition: transform 0.6s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

.boxes {
  display: flex;
  flex-direction: column;
  width: 40%;
  min-height: 80vh;
  padding: 1rem;
  background-color: rgba(173, 173, 173, 0.5);
  box-shadow: 0px 3px 12px 5px rgba(0, 0, 0, 0.64);
}

#about {
  margin-top: 30rem;
  order: 1;
  display: flex;
  flex-direction: column;
}

/* #about-img {
  width: 90%;
  height: auto;
  margin: 0 auto;
  -webkit-box-shadow: 0px 3px 12px 5px rgba(0, 0, 0, 0.64);
  box-shadow: 0px 3px 12px 5px rgba(0, 0, 0, 0.64);
} */

#about-video {
  width: 90%;
  margin: 0 auto;
  /* box-shadow: 0px 3px 12px 5px rgba(0, 0, 0, 0.64); */
}

#about p {
  padding: 1rem 2rem;
  text-align: justify;
}

#music {
  margin-top: 10rem;
  order: 2;
}

#event {
  margin-top: -10rem;
  order: 4;
}

#event h2 {
  margin-bottom: 3rem;
}

.event-content {
  display: flex;
  justify-content: space-around;
}

.event-inner-box {
  margin-left: -3rem;
}

.event-inner-box h3 {
  margin-top: -0.5rem;
}

.event-img {
  width: 27%;
  margin-bottom: 3.8rem;
  box-shadow: 0px 3px 12px 5px rgba(0, 0, 0, 0.64);
  transition: 0.5s;
}

.event-img:hover {
  width: 29%;
}

.event-btn {
  display: block;
  margin-top: 0.8rem;
  margin-left: auto;
  padding: 0.3rem 0.8rem;
  border: 1px solid #000;
  border-radius: 0.25em;
  font-size: 0.8rem;
  color: #fff;
  background-color: #000;
  box-shadow: -1px 4px 12px 0px rgba(0, 0, 0, 0.32);
}

.event-btn:hover {
  border: none;
  color: #000;
  background-color: rgb(158, 151, 151);
}

.line {
  display: block;
  border-top: 1px solid #000;
  margin-top: -1rem;
  margin-bottom: 1rem;
}

#contact {
  margin-top: 10rem;
  order: 3;
}

#contact h2 {
  text-align: center;
  margin: 0 auto;
}

.contact-form {
  width: 80%;
  height: 60%;
  margin: 0 auto;
  margin-bottom: 1rem;
}

textarea {
  resize: none;
}

#social-media ul {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

/* contact icons */
.fab {
  font-size: 2rem;
}

.fab:hover {
  font-size: 2.5rem;
}


/* buttons ==================== */

.btn {
  margin: 0 auto;
  padding: 0.5rem 1rem;
  border-radius: 0.25em;
  color: #000;
  background-color: rgb(158, 151, 151);
  box-shadow: -1px 4px 12px 0px rgba(0, 0, 0, 0.32);
}

.btn:hover {
  color: rgb(189, 187, 187);
  background-color: rgb(36, 35, 35);
}

#send-btn {
  margin-top: 2rem;
}


/* player ======================= */

.player {
  width: 100%;
}

/* footer ====================== */

footer {
  height: 3rem;
  background-color: rgb(14, 14, 14);
  color: #fff;

  box-shadow: -1px -4px 9px 0px rgba(0, 0, 0, 0.94);
}

footer p {
  padding: 0.5rem;
  text-align: center;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  color: rgb(253, 196, 109);
}

/* responsive ===================== */

/* extra small devices (phones, less than 576px) */
@media only screen and (max-width: 575px) {
  main {
    margin-top: -63rem;
    overflow-x: hidden;
  }

  .boxes {
    width: 85%;
  }

  #music {
    margin-top: 5rem;
  }

  #event {
    margin-top: 5rem;
    order: 3;
  }

  #contact {
    margin-top: 5rem;
    order: 4;
  }

  h1 {
    position: relative;
    top: 2rem;
    left: 5rem;
    font-size: 1.5rem;
  }

  #scroll-link {
    position: relative;
    top: 3.5rem;
    left: 0;
  }

}

@media only screen and (min-width: 576px) {
  main {
    /* border: 5px solid rgb(0, 174, 255); */
    margin-top: -145vh;
  }

  .boxes {
    width: 75%;
  }

  #event {
    margin-top: 5rem;
    order: 3;
  }

  #contact {
    margin-top: 5rem;
    order: 4;
  }

  h1 {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 2rem;
  }

  #scroll-link {
    position: relative;
    top: 12rem;
    left: 0;
  }

  #send-btn {
    margin-top: 1.5rem;
  }

}

/* Small devices (landscape phones, less than 768px) */
@media only screen and (min-width: 768px) {
  main {
    /* border: 5px solid yellow; */
    /* margin-top: -80rem; */
  }

  .boxes {
    width: 70%;
    /* height: 65vh; */
  }

  #contact {
    margin-top: 3rem;
  }

  h1 {
    position: relative;
    top: 2rem;
    right: -8rem;
    font-size: 2.5rem;
  }

  #scroll-down {
    position: relative;
    top: 5rem;
    left: 0;
  }

}

/* Medium devices (tablets, less than 992px) */
@media only screen and (min-width: 992px) {
  main {
    /* border: 5px solid blueviolet; */
    margin-top: -50rem;
  }

  .boxes {
    width: 45%;
    height: 60vh;
  }

  #event {
    margin-top: -15rem;
    order: 4;
  }

  #contact {
    margin-top: 5rem;
    order: 3;
  }

}

/* Large devices (desktops, less than 1200px) */
@media only screen and (min-width: 1200px) {
  main {
    /* border: 5px solid green; */
    margin-top: -10rem;
  }

  .boxes {
    width: 35%;
    height: 80vh;
  }

  #event {
    margin-top: -15rem;
  }

  h1 {
    position: relative;
    top: 35rem;
    left: 45rem;
    font-size: 3rem;
  }

  #scroll-down {
    position: relative;
    top: 13rem;
    left: 0;
  }
}