* {
    margin: 0;
    padding: 0;
}

html {
  scroll-behavior: smooth;
  font-family: 'Kanit', sans-serif;
}

/* header =============================== */

header {
  width:100wh;
  height: 100vh;
}

h1 {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5rem 4rem 3rem;
  font-family: 'Krona One', sans-serif;
  font-size: 2.8rem;
  letter-spacing: -1px;
  color: rgba(199, 196, 196, 0.7);
  text-shadow: 0 0 15px #000;
}

.video-container {
  z-index: -100;
  width: 100wh;
  height: 100vh;
  overflow:hidden;
  position: fixed;
  top:0;
  left:0;
}


/* nav ================================== */

nav {
  position: fixed;
  z-index: 1; 
  top: 0;

}

nav ul {
  margin-top: 2rem;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: inline-block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: 0.5s;
}

.nav-icons {
  width: 2.5rem;
}

.nav-icons:hover{
  width: 3.2rem;
}

/* content ========================== */

main {
  padding-left: 4.5rem;
}

main section{
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  /* align-items: center; */
}

.boxes {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 80vh;
  padding: 1rem;
  background-color: rgba(173, 173, 173, 0.7);
  box-shadow: 0px 3px 12px 5px rgba(0,0,0,0.64);
}

#about {
  margin-top: 30rem;
  order: 1;
}

#music {
  margin-top: 10rem;
  order: 2;
}

#event {
  margin-top: -10rem;
  order: 4;
}

#contact {
  margin-top: 10rem;
  order: 3;
}

/* player ======================= */

#player {
  width: 100%;
}
