* {
    margin: 0;
    padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* header =============================== */

header {
  width:100wh;
  height: 100vh;
}

.video-container {
  z-index: -100;
  width: 100wh;
  height: 100vh;
  overflow:hidden;
  position: fixed;
  top:0;
  left:0;
}


/* nav ================================== */

nav {
  position: fixed;
  z-index: 1; 
  top: 0;

}

nav ul {
  margin-top: 2rem;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: inline-block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: 0.5s;
}

.nav-icons {
  width: 2.5rem;
}

.nav-icons:hover{
  width: 3.2rem;
}

/* content ========================== */

main {
  padding-left: 4.5rem;
}

main section{
  width: 100%;
  margin: 0 auto;
  /* background-color: rgba(161, 161, 161, 0.3); */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  /* align-items: center; */
}

.boxes {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 80vh;
  /* margin-top: -15rem; */
  padding: 1rem;
  background-color: rgba(173, 173, 173, 0.7);
  /* z-index: 2; */
  /* border: 1px solid #000; */

}

.hidden-boxes {
  height: 10rem;
  width: 30%;
  
}

.higher {
  margin-top: -10rem;
}